! rofi
rofi.modi: run
rofi.font: Cousine 13
rofi.width: 50
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 90
! bg fg altbg hlbg hlfg
rofi.color-normal: #b99de0, #00000a, #140a80, #230ca0, #140a80
rofi.color-urgent: #4a24b8, #00000a, #140a80, #f8f5fa, #140a80 
rofi.color-active: #3829a0, #00000a, #140a80, #1507c8, #140a80
rofi.color-window: #9664dc, #230ca0, #140a80 
rofi.bw: 4
rofi.location: 0
rofi.padding: 10
rofi.fuzzy: false
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.auto-select: false
